<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sitio Medelin.rb</title>
  <style>
    h2 { background-color: yellow; }
  </style>
</head>
<body>
  <h1>Medellin.rb</h1>
  <nav>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/miembros">Miembros</a></li>
      <li><a href="/contactenos">Contacto</a></li>
    </ul>
  </nav>

  <em>Custom Layout (sin reloj)</em>

  <%= yield %>

</body>
</html>
